{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll reset your password and e-mail the new one to you." %}</p>

<form action="." method="post">
  {% if form.email.errors %}
    {{ form.email.html_error_list }}
  {% endif %}
  <label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }}
  <input type="submit" value="{% trans 'Reset my password' %}" class ="go"/>

  <script type="text/javascript">
    document.getElementById('id_email').focus();
  </script>
</form>

{% endblock %}
