{% extends "base.html" %}
{% load i18n %}
{% block head %}
<script type="text/javascript" src="/sitemedia/js/jquery.js"></script>
<script type="text/javascript" src="/sitemedia/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
     $("#tabl").tablesorter({widgets:['zebra']});
      });
            
    </script>
{% endblock %}
{% block centercontent %}
    <h2>{% trans "Members" %}</h2><p>{% trans "click on a heading to sort" %}</p>

    {% if mems %}
        <table id="tabl">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Membership type" %}</th>
                <th>{% trans "Occupation" %}</th>
                <th>{% trans "City" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for p in mems %}
            <tr>
                <td>{{p}}</a> </td>
                <td>{{p.memtypeshort}} </td>
                <td>{{p.occupation}} </td>
                <td>{{p.city}} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>{% trans "No members" %}</p>
    {% endif %}
{% endblock %}
