{% extends "base.html" %}
{% load i18n %}
{% block centercontent %}
    <h2>{% trans "Pending members" %}</h2>

    {% if pms %}
    <p>{% trans "Click on a name to see details and vote" %}</p>
        <table>
        
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Accept" %}</th>
                <th>{% trans "Reject" %}</th>
                <th>{% trans "Neutral" %}</th>
                <th>{% trans "Days pending" %}</th>
            </tr>
       
            {% for p in pms %}
            <tr>
                <td><a href="{% url vote id=p.id %}">{{p}}</a> </td>
                <td>{{p.acceptors}} <b>({{p.accept}})</b> </td>
                <td>{{p.rejectors}} <b>({{p.reject}}) </b></td>
                <td>{{p.neutors}}   <b>({{p.neutral}})</td>
                <td>{{p.pending}} </td>
            </tr>
            {% endfor %}
        
        </table>
    {% else %}
        <p>{% trans "No pending members" %}</p>
    {% endif %}
{% endblock %}
