<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
    {% load i18n %}
    {% load base_utils %}
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Indian Python Software Society</title>
        <link rel="stylesheet" href="/sitemedia/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/sitemedia/css/blueprint/print.css" type="text/css" media="print">
        <!--[if IE]><link rel="stylesheet" href="/sitemedia/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="/sitemedia/css/layout.css" type="text/css" media="screen, projection">
        <script src="{{ ADMIN_MEDIA_PREFIX }}js/admin/RelatedObjectLookups.js"></script>
    </script>
    {% block head %}
    {% endblock %}
    </head>
    <body>

<div class="container">
    <div class="span-18">
        <img src="/sitemedia/pics/masthead.jpg" width="400" align="center"/>
    </div>

        <div class="span-5 box last">
            <div>
            {% if request.user.username %}
                        {% trans "Welcome "%} {{request.user.username}}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="/logout/" >{% trans "logout" %}</a><br/>
             
            

            {% else %}
                    <a   href="/login/" >{% trans "login" %}</a>

                        <a   href="/register/" >{% trans "register" %}</a>

            {% endif %}
            
            </div>
        </div>
 <hr class="space">
    <div class="span-3 box">
      <h4>Menu</h4>


                {% get_menu %}
        <ul>
                {% for p in mn %}

                    <li >
                    <a href = "/{{ p.url }}" {{ p.id }}> {{ p.name }}
                    </a>
                    </li>

                {% endfor %}
        </ul>
        {% if request.user.username %}
      <h4>Members</h4>


                {% get_logged_menu %}
        <ul>
                {% for x in lmn %}

                    <li >
                    <a href = "/{{ x.url }}" {{ x.id }}> {{ x.name }}
                    </a>
                    </li>

                {% endfor %}
        </ul>
        {% endif %}
        {% if request.user.member_user_name.all.0.iscommittee %}
      <h4>Admin</h4>


                {% get_admin_menu %}
        <ul>
                {% for y in adm %}

                    <li >
                    <a href = "/{{ y.url }}" {{ y.id }}> {{ y.name }}
                    </a>
                    </li>

                {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="span-16">

        {% block centercontent %}
        {% endblock %}
    </div>
    <div class="span-3 box last">

        {% block rightcontent %}
        <h4>All payments to be made to:</h4>
        Indian Python Software Society
        <h6>Acc. No. 910010025373713</h6>
        IFS CODE: UTIB0000182<br>
        AXIS BANK, OOTACAMUND BRANCH<br>
        PAN No.: AAATI8094G<br><br><br>

<h5><bold>Mailing List</bold></h5>
Join the ipss mailing list <a href ="http://mail.python.org/mailman/listinfo/ipss">here</a>

        {% endblock %}
    </div>


 <hr class="space">


    <div class="span-24">
        <p class="small" align="center">
        Built by <a href="mailto:webmaster@xlquest.net">xlquest</a>, powered by linux, python, postgresql and django. Copyright ipss
        </p>
    </div>



</div>
{% block extra_js %}
{% endblock %}
    </body>
</html>
